/* This is an example of how to import a partial scss file*/
@import "./_variables";

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  font-family: 'Comfortaa', cursive;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
/*~~~~~~~END RESET~~~~~~~*/

.hidden {
  display: none !important;
}


body {
  background: url(https://cdn.dribbble.com/users/318729/screenshots/7172924/media/7de9e74f013af9125e54eab222feca4b.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  display: flex;
  height: 12vh;
  background-color: $tsp-white;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

input {
  border-style: none;
  margin-left: 1%;
  // margin-right: 1%;
  height: 83%;
  border-radius: 5px;
}

label {
  margin-left: 2%;
}

.date {
  width: 14%;
}
.number {
  width: 4%;
}
.dest {
  width: 22vw;
  margin-left: 1%;
}



.form-section {
  display: flex;
  border-radius: 30px;
  background-color: $tsp-white;
  width: 96vw;
  height: 7vh;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  box-shadow: $drop-shadow;
  
}

.container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

// .form-box {
//   display: flex;
//   border-radius: 30px;
//   background-color: #ffffffd1;
//   width: 96vw;
//   height: 7vh;
//   flex-direction: row;
//   flex-wrap: nowrap;
//   align-items: center;
//   box-shadow: 0 2px 20px rgb(0 0 0 / 20%);
// }

.trip-form {
  // display: flex; 
  // border-radius: 50px; 
  // background-color: #ffffffd1; 
  // width: 96%;
  // flex-direction: row; 
  // flex-wrap: nowrap; 
  // align-content: center; 
  // align-items: center; 
  // margin: 5px;
  // padding: 5px; 
  // justify-content: center;
}

.trips-section {
  // display: flex;
  flex-wrap: wrap;
  // margin-left: 1%;
  display: grid;
  grid-template-columns: repeat(4, 24vw [col-start]);
  grid-template-rows: repeat(1, 66vh [row-start]);
  justify-items: center;
  align-items: center;
}


// .trip-card {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   flex-wrap: nowrap;
//   height: 40vh;
//   width: 20vw;
//   border-radius: 10px;
//   border-style: solid;
//   border-width: 2px;
//   border-color: white;
// }

.trip-img {
  height: 15vh;
  width: 20vw;
}

/* The Modal (background) */
// [role="alertdialog"],
// [role="dialog"] {
//   box-sizing: border-box;
//   padding: 15px;
//   border: 1px solid #000;
//   background-color: #fff;
//   min-height: 100vh;
// }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* Sit on top */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  border-radius: 50px;
  background-color: #ffffffd5;
  box-shadow: 0 3px 20px rgb(0 0 0 / 30%);
  margin: 15% auto;
  padding: 19px;
  border: none;
  width: 66%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.new-trip {
  display: flex;
  width: min-content;
  border-radius: 19px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bolder;
}
/* The Close Button */
.close {
  color: rgb(0, 0, 0);
  float: right;
  margin-left: 50px;
  font-size: 33px;
}

.close:hover,
.close:focus {
  display: flex;
  text-decoration: none;
  cursor: pointer;
}

modal-button-row {
  display: flex;
}

/* ~~~~~~~~~~~~CARD~~~~~~~~~~~~ */
.card {
  margin: 11px;
  background-color: $tsp-white;
  border-radius: 13px;
  box-shadow: $drop-shadow;
  overflow: hidden;
  width: 21vw;
  transition: transform .3s; /* Animation */
}


.card:hover {
  transform: scale(1.2);
}
.card-no-hover {
  margin: 11px;
  background-color: $tsp-white;
  border-radius: 13px;
  box-shadow: $drop-shadow;
  overflow: hidden;
  width: 21vw;
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 6%;
  min-height: 32vh;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 2vh;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
}
.tag-teal {
  background-color: #007c8a;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #d71499;
}

.card-body p {
  font-size: initial;
  font-weight: 700;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}

// .font-med {
//   font-size: large;
//   font-weight: 500;
// }




/* BUTTON */

/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, #ef4261, #fe0be1);
  border: 0;
  border-radius: 50px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0px 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
