/* This is an example of how to import a partial scss file*/
@import "./_variables";

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  font-family: 'Comfortaa', cursive;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

.hidden {
  display: none !important;
}
/*~~~~~~~END RESET~~~~~~~*/

/*~~~~~~~GENERAL LAYOUT~~~~~~~*/
body {
  background: url(https://cdn.dribbble.com/users/318729/screenshots/7172924/media/7de9e74f013af9125e54eab222feca4b.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// main {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   align-items: center;
//   flex-wrap: nowrap;
// }

header {
  display: flex;
  height: 18vh;
  width: 100%;
  background-color: $tsp-white;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}



/* ~~~~~~~~~~~~LOGIN~~~~~~~~~~~~~ */
.login-page {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.login-logo {
  width: 40em;
}


.login {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  z-index: 1;
}

.form {
  position: absolute;
  z-index: 1;
  max-width: 47vw;
  margin-top: 52vh;
  padding: 45px;
  text-align: center;
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 10px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: large;
}

.form input:focus {
  background: #dbdbdb;
}

.form button {
  text-transform: uppercase;
  outline: 0;
  background: #4b6cb7;
  width: 100%;
  border: 0;
  border-radius: 10px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:active {
  background: #395591;
}

.form span {
  font-size: 75px;
  color: #4b6cb7;
}

.header-logo {
  width: 16vw;
}

.form-section {
  display: flex;
  border-radius: 30px;
  background-color: $tsp-white;
  width: 96vw;
  height: 6vh;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  box-shadow: $drop-shadow;
  justify-content: space-between;
  margin-top: 1vh;
  
}

.container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

// .sticky {
//   display: flex;
//   flex-direction: column;
//   position: fixed;
//   z-index: 1;
//   align-items: center;
//   justify-content: space-around;
// }

// .scroll {
//   scroll-behavior: smooth;
//   overflow: auto
// }

/* ~~~~~~~~~~~~TRIP FORM~~~~~~~~~~~~~ */
input {
  border-style: none;
  margin-left: 1%;
  height: 83%;
  border-radius: 5px;
}

label {
  margin-left: 2%;
}

.date {
  width: 14%;
}
.number {
  width: 4%;
}
.dest {
  width: 22vw;
  margin-left: 1%;
}

.trips-section {
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(4, 24vw [col-start]);
  grid-template-rows: repeat(1, 66vh [row-start]);
  justify-items: center;
  align-items: center;
}

.trip-img {
  height: 15vh;
  width: 20vw;
}

/* ~~~~~~~~~~~~MODALS~~~~~~~~~~~~~ */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  border-radius: 50px;
  background-color: #ffffffd5;
  box-shadow: 0 3px 20px rgb(0 0 0 / 30%);
  margin: 15% auto;
  padding: 19px;
  border: none;
  width: 66%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.new-trip {
  display: flex;
  width: min-content;
  border-radius: 19px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bolder;
}

.close {
  color: rgb(0, 0, 0);
  float: right;
  margin-left: 50px;
  font-size: 33px;
}

.close:hover,
.close:focus {
  display: flex;
  text-decoration: none;
  cursor: pointer;
}

modal-button-row {
  display: flex;
}

/* ~~~~~~~~~~~~CARD~~~~~~~~~~~~ */
.card {
  margin: 11px;
  background-color: $tsp-white;
  border-radius: 13px;
  box-shadow: $drop-shadow;
  overflow: hidden;
  width: 21vw;
  transition: transform .3s; /* Animation */
}

.card:hover {
  transform: scale(1.2);
}

.card-no-hover {
  margin: 11px;
  background-color: $tsp-white;
  border-radius: 13px;
  box-shadow: $drop-shadow;
  overflow: hidden;
  width: 21vw;
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 6%;
  min-height: 32vh;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 2vh;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
}
.tag-teal {
  background-color: #007c8a;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #d71499;
}

.card-body p {
  font-size: initial;
  font-weight: 700;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}

/* BUTTON */
.button-62 {
  background: linear-gradient(to bottom right, #ef4261, #fe0be1);
  border: 0;
  border-radius: 50px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  height: 100%;
  outline: transparent;
  padding: 0px 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

/* ~~~~~~~~~ANIMATIONS~~~~~~~~~~~ */
.puff-in-center {
	-webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-3-8 21:43:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-8 21:45:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
	-webkit-animation: fade-out 1s ease-out both;
	        animation: fade-out 1s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-9 2:30:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
 @-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


